{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^(?!@cloudventure/|\\.|/).+",
    "^@cloudventure/",
    "^[.|/]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
